
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> php-cs-fixer/shim ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< php-cs-fixer/shim ###

### .htaccess ###


###> symfony/asset-mapper ###
/public/assets/
/public/uploads/
/assets/vendor/
###< symfony/asset-mapper ###


###> symfony/my files ###
/commands.txt
###< symfony/my files ###
