{% extends 'base.html.twig' %}

{% block body %}
<div class="example-wrapper">
    <h2>Register</h2>
    {{ form_start(regform) }}
    {{ form_widget(regform) }}
    {{ form_end(regform) }}
</div>
{% endblock %}